# MongoDB Connection String (replace with your own from MongoDB Atlas)
MONGO_URI=mongodb+srv://your_connection_string

# Port for the server to run on
PORT=5000

# JWT Secret for creating tokens
JWT_SECRET=your_jwt_secret

# Production Frontend URL (e.g., https://yourdomain.com)
FRONTEND_URL=http://localhost:5173

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Environment (development or production)
NODE_ENV=development
